{{ define "main" }}
<div class="main-container">
    <div class="categoria title is-roboto">
        <p>{{ .Title }}</p>
    </div>

    <div class="section-categoria">
        {{ range .Data.Pages }}
        <article class="article-categoria">
            <div class="article-img-categoria">
                <figure>
                    <img src="{{ index .Params "featuredImage" }}" alt="">
                </figure>
            </div>
            <div class="article-phg-intro">
                <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
            </div>
            <div class="author-box">
                <img class="avatar-box" src="{{ index .Params "author-avatar" }}" alt="">
                <p class="author-box">{{index .Params "Author"}} | </p>
                <div class="date-box">
                    <p>{{ .Date.Format "01 Jan 2006" }}</p>
                </div>
            </div>
        </article>
        {{ end }}
    </div>

    <div>
        <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->

    </div>
    </main>
    {{ end }}