<footer>
    <p class="footer-brand">Blog Tec-Iguala</p>
    <div class="social-media">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
    </div>
    <div class="footer-menu">
        <a href="">Sitemap</a>
        <a href="">Nosotros</a>
        <a href="">¿Necesitas ayuda?</a>
        <a href="">Contenido</a>
        <a href="">Privacidad</a>
        <a href="">Terminos</a>
        <a href="">Publicar Artículo</a>
    </div>
    <p class="creator">© 2020 r2-Dev</p>
</footer>